<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <a class="btn btn-primary" routerLink="/admin">Volver a la lista de facturas</a>
      </div>
      <div class="form-group">
        <label>Descripcion del articulo</label>
        <div class="form-control">{{facturaView.descripcionDelArticulo}}</div>
      </div>
      <div class="form-group">
        <label>Marca del articulo</label>
        <div class="form-control">{{facturaView.marcaDelArticulo}}</div>
      </div>
      <div class="form-group">
        <label>Cantidad</label>
        <div class="form-control">{{facturaView.cantidad}}</div>
      </div>
      <div class="form-group">
        <label>Precio de compra</label>
        <div class="form-control">{{facturaView.precioDeCompra}}</div>
      </div>
      <div class="form-group">
        <label>Precio de Venta</label>
        <div class="form-control">{{facturaView.precioDeVenta}}</div>
      </div>
    </div>

  </body>
</html>
