<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <br>
  <br>
  <div class='container'>
    <table>
      <tr>
        <th>Descripcion del articulo</th>
        <th>Marca del articulo</th>
        <th>Cantidad</th>
        <th>Precio de compra</th>
        <th>Precio de venta</th>
      </tr>
      <tr *ngFor='let factura of facturas'>
        <td>{{factura.descripcionDelArticulo}}</td>
        <td>{{factura.marcaDelArticulo}}</td>
        <td>{{factura.cantidad}}</td>
        <td>{{factura.precioDeCompra}}</td>
        <td>{{factura.precioDeVenta}}</td>
      </tr>
    </table>
  </div>
</body>
</html>

